@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap");

.login-page-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

.login_page {
  width: 100vw;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm {
  margin-block-start: 2rem;
  margin-block-end: 1rem;
  /* width: 100%; */
  max-width: 36rem;
  /* margin-block: 4rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  gap: none;
}

.loginForm > input {
  border: none;
  font-weight: 500;
  font-size: 1.7rem;
  letter-spacing: 0rem;
  /* background-color: bisque; */
  width: 100%;
  /* background-color: blueviolet; */
  padding-block: 1rem;
}

.loginForm > .loginForm__input-name {
  font-weight: 500;
  font-size: 1.7rem;
  letter-spacing: 1rem;
  width: 100%;
}

.loginForm > input::placeholder {
  color: #a8a8a8;
  font-weight: 10;
  font-size: 1.6rem;
  line-height: 1em;
  letter-spacing: 0;
}

:root {
  --primary: #25dac5;
  --subtitle: #1e0e62;
  --primary-dark: #1eae9e;
}

.logo_login {
  height: 8rem;
  margin-block: 4rem;
  /*! FIXME: The logo source image is offset, this is just a workaround */
  margin-inline-start: -6rem;
}

.text {
  text-align: center;
  font-style: normal;
  font-size: 4rem;
  color: rgb(67, 67, 67);
}

.create-card-form-divider {
  margin-block-end: 1rem;
  /* margin-top: -2rem; */
  width: 100%;
  border-top: rgba(0, 0, 0, 0.185);
  border-inline: none;
}

.forgotPassword {
  font-size: 2.5rem;
  margin-block-end: 2rem;
}

.google_sign_up {
  background-image: "../../images/landing_page/google_sign_up.png";
  height: 4rem;
}

.button {
  border: 0ch;
}

.reg {
  padding: 0.1rem 2rem;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--primary);
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  justify-self: flex-end;
  cursor: pointer;
}

/* input {
  height: 2em;
  width: 2em;
  vertical-align: middle;
} */

.inputCB {
  height: 2em;
  width: 2em;
  vertical-align: middle;
}

.logo-center {
  width: 100vw;
  display: flex;
  justify-content: center;
}